<h1 id="wb-cont">{{ 'dashboard._title' | translate}}</h1>

<!--Content-->
<div class="flex flex-column gap-3">

    <!-- Active Project Card -->
    <div class="surface-card border-round-lg shadow-2 p-4 w-full min-w-min">

        <div class="flex flex-column lg:flex-row justify-content-between align-items-start gap-2">
            <div class="flex flex-column gap-2 w-full">
                <h2 class="text-2xl my-1 flex align-items-center gap-2">
                    {{ projectData.projectName || "project._nav.new" | translate }}
                    <p-tag [value]="projectData.phase | translate" [rounded]="true" class="capitalize" />
                </h2>
                <div class="flex flex-row justify-content-start gap-2">
                    <!--Pages-->
                    <div class="flex flex-row gap-2 flex-1">
                        <i class="pi pi-copy text-primary text-3xl align-self-center"></i>
                        <div class="flex flex-column align-self-start">
                            <p class="text-sm text-600 my-1">{{ "common.pages" | translate }}</p>
                            <p class="text-xl font-bold my-0">{{ projectData.inScopePages }}</p>
                        </div>
                    </div>
                    <!--Last modified-->
                    <div class="flex flex-row gap-2 flex-1">
                        <i class="pi pi-clock text-primary text-3xl align-self-center"></i>
                        <div class="flex flex-column align-self-start">
                            <p class="text-sm text-600 my-1">{{ "common.modified" | translate }}</p>
                            <p class="text-md my-0 white-space-nowrap">{{ projectData.lastModified| date:'short' }}</p>
                        </div>
                    </div>
                    <!--Collaborators-->
                    <div class="flex flex-row gap-2 flex-1">
                        <i class="pi pi-users text-primary text-3xl align-self-center"></i>
                        <div class="flex flex-column align-self-start">
                            <p class="text-sm text-600 my-1">{{ "common.collaborators" | translate }}</p>
                            <aida-add-collaborators mode="dashboard" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row lg:flex-column lg:mt-0 gap-2">
                <p-button label="Switch Project" icon="pi pi-arrow-right-arrow-left"
                          outlined size="small" styleClass="secondary-outline white-space-nowrap w-full"
                          routerLink="/switch-project" />
                <aida-export-project />
            </div>
        </div>

        <p-divider />

        <!-- Phase Progress -->
        <h3 class="mb-2">{{ 'project.phase._title' | translate }}</h3>
        <div class="flex flex-column md:flex-row md:flex-wrap justify-content-start lg:justify-content-around gap-2">
            @for(phase of projectPhases; track phase.name; let i = $index) {
            <!-- Phase Item -->
            <div class="flex align-items-center cursor-pointer gap-3 p-1"
                 (click)="togglePhaseStatus(phase)" (keydown.enter)="togglePhaseStatus(phase)" (keydown.space)="togglePhaseStatus(phase)" tabindex="0" role="button"
                 [attr.aria-label]="'Toggle ' + (phase.name | translate) + ' phase status'">
                <div class="border-circle w-3rem h-3rem flex justify-content-center align-items-center font-bold"
                     [ngClass]="{'bg-primary text-0': phase.status === PhaseStatus.Complete,
                                'bg-primary-50 text-primary-500 border-2 border-primary': phase.status === PhaseStatus.Current,
                                'surface-200 text-600': phase.status === PhaseStatus.Pending
                                 }">
                    @if(phase.status === PhaseStatus.Complete){
                    <i class="pi pi-check font-bold"></i>
                    } @else {{{ i + 1 }}}
                </div>
                <div>
                    <p class="font-semibold text-900 my-1">{{ phase.name | translate }}</p>
                    <p class="text-sm text-600 m-0">{{ phase.status | translate }}</p>
                </div>
            </div>
            <!-- Phase Connector -->
            @if(i < projectPhases.length - 1){
                <div class="hidden xl:block align-self-center mx-3">
                    <i class="text-primary text-2xl pi"
                    [class.pi-arrow-right-arrow-left]="phase.name === ProjectPhase.Assess"
                    [class.pi-arrow-right]="phase.name !== ProjectPhase.Assess"></i>
                </div>
            }
        }
        </div>
    </div>

    <!-- Phase cards -->
    <div class="flex flex-column lg:flex-row gap-3 w-full">
        <div class="flex flex-column gap-3 w-full">
            <!-- Baseline -->
            <div class="surface-card border-round-lg shadow-2 p-0 w-full min-w-min flex justify-content-center h-3rem">
                @if(projectData.github.hasBaselineRepo){
                <p-button icon="pi pi-github" label="View baseline repository" text size="large" class="w-full h-full" fluid
                        (onClick)="openRepo(projectData.github,'baseline')" />
                } @else {
                <h3 class="my-1 align-self-center">{{"common.version.baseline" | translate }}</h3>
                }
            </div>
            <!-- Phases -->
            <div class="flex flex-column md:flex-row gap-3 flex-1">
                <!-- Discover -->
                <ng-container *ngTemplateOutlet="phase; context: { path: 'discover', phase: ProjectPhase.Discover, icon: 'pi pi-search text-orange-500', stats: discover, ready: true}" />
                <!-- Assess -->
                <ng-container *ngTemplateOutlet="phase; context: { path: 'assess', phase: ProjectPhase.Assess, icon: 'pi pi-chart-line text-blue-500', stats: assess, ready: false}" />
            </div>
        </div>
        <div class="flex flex-column gap-3 w-full">
            <!-- Prototype -->
            <div class="surface-card border-round-lg shadow-2 p-0 w-full min-w-min flex justify-content-center h-3rem">
                @if(projectData.github.repo){
                <p-button icon="pi pi-github" label="View prototype repository" text size="large" class="w-full h-full" fluid
                        (onClick)="openRepo(projectData.github,'prototype')" />
                } @else {
                <h3 class="my-1 align-self-center">{{"common.version.prototype" | translate }}</h3>
                }
            </div>
            <!-- Phases -->
            <div class="flex flex-column md:flex-row gap-3 flex-1">
                <!-- Design -->
                <ng-container *ngTemplateOutlet="phase; context: { path: 'design', phase: ProjectPhase.Design, icon: 'pi pi-pencil text-purple-500', stats: design, ready: false}" />
                <!-- Approve -->
                <ng-container *ngTemplateOutlet="phase; context: { path: 'approve', phase: ProjectPhase.Approve, icon: selectedItems.length/checklist.length * 100 === 100 ? 'pi pi-check-circle text-green-500' : 'pi pi-check-circle text-red-500', stats: approve, content: approveChecklist, ready: false}" />
            </div>
        </div>
    </div>
</div>

<!--Discover stats template-->
<ng-template #discover>
<div class="flex flex-row justify-content-center align-content-center gap-2">
    <span class="material-icons text-primary text-7xl mt-5">library_books</span>
    <div class="flex flex-column mt-0">
        <p class="text-3xl text-600 mb-0">{{ projectData.inScopePages }}</p>
        <p class="text-xl font-bold mt-0 lowercase">{{"common.pages" | translate }}</p>
    </div>
</div>
</ng-template>

<!--Assess stats template-->
<ng-template #assess>
    <div class="flex flex-row justify-content-center align-content-center gap-2">
        <span class="material-icons text-primary text-7xl mt-5">troubleshoot</span>
        <div class="flex flex-column mt-0">
            <p class="text-3xl text-600 mb-0">{{ assessmentStats.issuesFound }}</p>
            <p class="text-xl font-bold mt-0 lowercase">{{"common.problems" | translate }}</p>
        </div>
    </div>
</ng-template>

<!--Design stats template-->
<ng-template #design>
    <div class="flex flex-column gap-2">
        @if(projectData.inScopePages > 0){
        <p-progressbar [value]="pageProgress/projectData.inScopePages * 100"
                       [showValue]="false"
                       class="h-2rem centered-label">
            <ng-template #content let-value>
                <span>{{pageProgress}}/{{projectData.inScopePages}}&nbsp;pages&nbsp;edited</span>
            </ng-template>
        </p-progressbar>
        }
        @if(assessmentStats.issuesFound > 0){
        <p-progressbar [value]="problemProgress/assessmentStats.issuesFound * 100"
                       [showValue]="false"
                       class="h-2rem centered-label">
            <ng-template #content let-value>
                <span>{{problemProgress}}/{{assessmentStats.issuesFound}} issues fixed</span>
            </ng-template>
        </p-progressbar>
        }
    </div>
</ng-template>

<!--Approve stats template-->
<ng-template #approve>
    @if(assessmentStats.issuesFound > 0){
    <p-progressbar [value]="selectedItems.length/checklist.length * 100"
                   [showValue]="false"
                   class="h-2rem centered-label">
        <ng-template #content let-value>
            <span>{{selectedItems.length}}/{{checklist.length}}</span>
        </ng-template>
    </p-progressbar>
    }
</ng-template>

<!--Approve checklist -->
<ng-template #approveChecklist>
<div class="flex flex-column gap-1 ml-4 -mt-2 mb-2" tabindex="0" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
    @for(item of checklist; track item.key){
    <div class="flex flex-row gap-2">
        <p-checkbox [inputId]="item.key" name="group" [value]="item" [(ngModel)]="selectedItems" />
        <label [for]="item.key">{{ item.key | translate }}</label>
    </div>
    }
</div>
</ng-template>

<!--Phase card template-->
<ng-template #phase let-path="path" let-phase="phase" let-icon="icon" let-stats="stats" let-content="content" let-ready="ready">
<div class="surface-card border-round-lg p-4 w-full min-w-min md:w-6 flex flex-column justify-content-between"
     [ngClass]="{'border-2 border-primary': projectData.phase === phase, 'shadow-1 hover:shadow-3 cursor-pointer': ready || !production, 'shadow-2': !ready && production}"
     [routerLink]="ready || !production ? '/'+path : null">
    <div class="flex-1">
        <div class="flex align-items-center mb-3">
            <i [class]="icon +' text-xl'"></i>
            <h3 class="text-lg font-semibold text-900 ml-2 m-0">{{phase | translate }}</h3>
        </div>
        <p class="text-600 text-sm mb-3 min-h-2rem">{{phase+'.description' | translate }}</p>
        <div class="border-top-1 surface-border pt-3">
            @if(ready || !production){
            <ul class="list-disc mt-0 pl-4 flex flex-column gap-2 text-primary">
                @for(bullet of (phase+'.bullets' | translate).split('|'); track bullet) {
                <li class="text-sm text-700">{{bullet}}</li>
                }
            </ul>
            <ng-container *ngTemplateOutlet="content" />
            } 
            @else { <p-tag [value]="'project.dashboard.comingSoon' | translate" severity="secondary" [rounded]="true" />}
        </div>
    </div>
    @if(ready || !production){<ng-container *ngTemplateOutlet="stats" />}
</div>
</ng-template>