<h2 class="text-2xl my-1">{{ 'compare.pageOptions._title' | translate }}</h2>
<p class="my-1">{{ "compare.pageOptions.description" | translate }}</p>

<div class="flex flex-column lg:flex-row lg:align-items-center gap-2">
<!--Selection-->
<div class="flex flex-column text-color-secondary hover:text-primary max-w-max">
    <span class="text-xs my-1">{{ 'compare.pageOptions.selection' | translate }}</span>
    <p-iftalabel>
        <p-select inputId="page" [options]="pageOptions" [ngModel]="compareService.selectedPage()" (ngModelChange)="onPageSelectionChange($event)"
                  optionLabel="label" optionValue="path" [filter]="true" filterBy="label" class="w-20rem sm:w-27rem"
                  [loading]="compareService.loading() || compareService.loadingAll()" loadingIcon="pi pi pi-spin pi-spinner">
            <ng-template let-page #item>
                <div class="flex flex-column">
                    <span class="font-bold -mb-1">{{ page.label }}</span>
                    {{ page.path }}
                </div>
            </ng-template></p-select>
        <label for="page">{{'compare.pageOptions.page' | translate}}</label>
    </p-iftalabel>
</div>
<!--Versions-->
<div class="flex flex-column text-color-secondary hover:text-primary max-w-max">
    <span class="text-xs my-1">{{ 'compare.pageOptions.versions' | translate }}</span>
    <div class="flex flex-column sm:flex-row sm:align-content-center gap-1 sm:gap-3 lg:gap-2">
        <!--Before-->
        <p-iftalabel>
            <p-select inputId="before" [options]="beforeOptions" [ngModel]="compareService.selectedBefore()" (ngModelChange)="onBeforeSelectionChange($event)"
                      optionLabel="label" optionValue="value" class="w-20rem sm:w-13rem"
                      [loading]="compareService.loading() || compareService.loadingAll() || compareService.loadingBefore()" loadingIcon="pi pi pi-spin pi-spinner" /> <!-- duplicate 'pi' needed on loading icon, p-select strips one out as of 2026-08-13 -->
            <label for="before">{{'common.before' | translate}}</label>
        </p-iftalabel>
        <!--After-->
        <p-iftalabel>
            <p-select inputId="after" [options]="afterOptions" [ngModel]="compareService.selectedAfter()" (ngModelChange)="onAfterSelectionChange($event)"
                      optionLabel="label" optionValue="value" class="w-20rem sm:w-13rem"
                      [loading]="compareService.loading() || compareService.loadingAll() || compareService.loadingAfter()" loadingIcon="pi pi pi-spin pi-spinner" /> <!-- duplicate 'pi' needed on loading icon, p-select strips one out as of 2026-08-13 -->
            <label for="after">{{'common.after' | translate}}</label>
        </p-iftalabel>
    </div>
</div>
</div>